/* Footer.css */

 footer {
    height: 150px;
    width: 100%;
    padding-top: 38px;
    position: absolute;
    bottom:0;
    top:100%;
    background-color: #212432;
}

p.h3 {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Hind', sans-serif;
    color: #fff;
}

.h5 {
    color: #fff;
    font-family: 'Hind', sans-serif;
}

.h6 {
    text-align: center;
}