section {
    text-align: center;
    background-size: cover;
    height: 600px;
    margin-bottom: 40px;
}

.title {
    color: #B0BEC5;  
}

.mb2 {
    max-width: 100%;
}


.btn-sign {
    color: #505050;
    background-color: rgba(240, 154, 84, 0.8);
    font-size: 20px;
    width: 190px;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
}

.h4 {
    color: #B0BEC5;
    font-size: 20px;
}

.first-name {
    text-align: left;
}

.last-name {
    text-align: left;
}

.password {
    text-align: left;
}

.confirm-password {
    text-align: left;
}

.email {
    text-align: left;
}

.submit {
    text-align: center;
}



.mb2 {
    font-size: 15px;
    text-align: center;
}

.px2 {
    background-image: url(../Main/images/drilling-img-3.jpg);
}

@media only screen and (max-width: 576px) {
.h1-log-sign {
    color: #2e2727;
    font-size: 26px;
}

.h4 {
    font-size: 21px;
}

}