/* Header.css */

/*---------------------------------Header CSS---------------------------------*/

header {
    height: auto;
    width: 100%;
    background-color: #fff;
}

#flex-header {
    display: flex;
    display:-webkit-flex;ms-flex:1;
    align-items: center;
    
}

#logo {
 display: block;
 padding: 5px 0 5px 0;
}

img {
    max-width: 100%;
    max-height: 130px;
}

nav {
    margin-left: auto;
}

.topnav li {
    display: inline-block;
    padding-left: 30px;
}

.icon {
    display: none;
  }

.link-class a{
    color: #212432;
}

.link-class a:hover{
    color: #0074d9;
}

.link-class a:active{
    color: #0074d9;
}

#mobile-logo {
    display: none;
}

/* ---------------------------------Breakpoints --------------------------------- */


@media only screen and (max-width: 992px) {
 #logo {
   display: block;
    }
    
nav {
    margin-left: auto;
    margin-right: 30px;
    }
}

@media only screen and (max-width: 768px) {
 .container {
    width: auto;
        }

  #logo {
     display: block;
}
             
        
}  

/*---------------------------Mobile Nav CSS--------------------------------- */
@media only screen and (max-width: 576px) {
nav {
    margin: 0;
}

.topnav ul {
     display: none;
   }

.container {
     width: auto;
     padding-left: 0;
     padding-right: 0;
     max-width: none;

}

#flex-header {
     position: relative;
     display: block;
   } 

.icon {
     position: absolute;
     right: 15%;
     top: 25px;
   }

#mobile-logo {
    display: block;
    padding: 3px 0 3px 0;
   }

#logo {
    display: none;
}

.topnav.responsive ul {
     display: block;
     width: 100%;
     padding-left: 0;
     margin-bottom: 0;
   }

.topnav.responsive ul li {
     display: block;
     padding: 3px 0 3px 35px;
     background-color: #212432;
   }

.topnav.responsive ul li:active {
     background-color: #34384e;

   }

.icon {
     display: inline-block;
     color: #212432;
   }

.link-class {
     display: block;
     border-bottom: 1px solid #fff;
   }

.link-class:nth-last-child(1){
     border-style: none;
   }

.topnav a {
    color: #fff;
   }


}
